/*
1. Global
2. Header
3. Nav
4. Aside
5. Main
6. Footer
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 19px;
}

.page {
  color: #5F7A77;
  background-color: #fff;
  background-image: url(../assets/img/main-bg.gif);
  background-repeat: repeat-x;
}

.container {
  margin: 0 auto;
  width: 778px;
}


/* 1. Global */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}


/**************
HEADER
**************/
.header {
  padding-top: 12px;
  padding-left: 235px;
  width: 778px;
  height: 65px;
  color: #828282;

  background-image: url(../assets/img/header-top-bg.jpg);
  background-repeat: no-repeat;
}

.header__link {
  display: block;
  width: 136px;
  height: 31px;
}

.header__logo { /*картинка с логотипом Aquatic в заголовке*/
  width: 136px;
  height: 31px;
}

.header__h1 { /*параграф с текстом в загаловке*/
  width: 200px;
  font-size: 13px;
  font-weight: normal;
  line-height: 19px;
  color: #828282;
}
/**************
end HEADER
**************/


/**************
NAV
**************/
.nav {
  padding: 11px 0 0 92px;
  height: 164px;

  background-image: url(../assets/img/nav.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.nav__ul {
  width: 87px;
}

.nav__li {
  width: 87px;
  height: 22px;

  border-bottom: 1px dashed #AECCCA;
}

.nav__link {
  padding: 0 0 0 15px;
  width: 72px;
  height: 22px;
  line-height: 22px;
  color: #305E5C;
  background-color: #fff;
  background-image: url(../assets/img/nav-bullet-normal.gif);
  background-position: 0 2px;
  background-repeat: no-repeat;
}

.nav__link:hover {
  background-image: url(../assets/img/nav-bullet-hover.gif);
}

.nav__li:last-child {
  border-bottom: none;
}
/**************
end NAV
**************/


/**************
CONTENT
**************/
.content {
  display: flex;
  flex-direction: row;
  padding: 22px 0 0 92px;

  background-image: url(../assets/img/content-body-bg.gif);
  background-position: 0 0;
  background-repeat: no-repeat;
}
/**************
end CONTENT
**************/


/**************
ASIDE
**************/
.aside {
  width: 114px;
}

.aside__h2 {
  width: 114px;
  height: 34px;

  background: #fff;
  color: #5F7A77;
  font-size: 18px;
  line-height: 34px;
}

.aside__ul {
  width: 114px;
}

.aside__li {
  width: 114px;
  height: 24px;
}

.aside__link {
  display: block;
  padding: 0 0 0 12px;
  width: 102px;
  height: 24px;
  line-height: 24px;
  color: #5F7A77;

  background-image: url(../assets/img/aside-bullet-normal.gif);
  background-position: 0 10px;
  background-repeat: no-repeat;
  background-color: #fff;
}

.aside__link:hover {
  background-image: url(../assets/img/aside-bullet-hover.gif);
}
/**************
end ASIDE
**************/


/**************
MAIN
**************/
.main {
  margin: 28px 0 0;
  padding: 0 30px;
  width: 571px;

  border-left: 1px solid #C8E8E2;
}

.more {
  padding: 0 0 20px 0;
  width: 502px;
  height: 25px;

  background-image: url(../assets/img/main-sky-color-bg.gif);
  background-position: 0 10px;
  background-repeat: repeat-x;
}

.more__link {
  display: block;
  margin: 0 0 0 328px;
  padding: 4px 0 0 50px;
  width: 142px;
  height: 21px;
  color: #c2aa0d;
  line-height: 21px;
  text-transform: uppercase;

  background-image: url(../assets/img/main-special.gif);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: #fff
}

.more__link:hover {
  color: #5c5209;
  background-image: url(../assets/img/main-buy.gif);
}

.justify {
  margin: 20px 0 10px 0;
  text-align: justify;
}

.main__img {
  margin-right: 15px;
  float: left;
}
/**************
end MAIN
**************/


/**************
FOOTER
**************/
footer {
  height: 143px;
  background: url(../assets/img/footer-bg.gif) 0 0 repeat-x #D3F0F0;
}

.footer {
  padding: 36px 0 0;
  font: 13px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #2F5958;
}


.footer__ul {
  margin: 0 auto;
  width: 608px;
  height: 20px;

  /* position: relative; */
}

.footer__li {
  display: inline-block;
}

.footer__link {
  padding: 0 10px 0;
  color: #2F5958;
  background: #EBF8F7;
  font-size: 13px;
}

.footer__link:hover {
  text-decoration: underline;
}

/*Copyright*/
.footer__copyright {
  margin: 10px 0 0 92px;
  width: 350px;
  height: 20px;
}

.footer__copyright a {
  color: #2F5958;
  font-size: 13px;
}

.footer__copyright a:hover {
  text-decoration: underline;
}
/**************
end FOOTER
**************/